## In this module we will learn about the following
    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formattingn

In [6]:
'single'

'single'

In [7]:
'multiple words can also be used'

'multiple words can also be used'

In [8]:
"Python is lenient language, we can use double quotes too"

'Python is lenient language, we can use double quotes too'

In [9]:
"this are shantanu's Notes"

"this are shantanu's Notes"

You cannot use double quote in sentence once you used it to create your list. Hence make sure that you use the alternate quote to the one you want to use in a sentence.

# Printing the string

In [10]:
'here in jupyter notebook you can print the string without any specific function'

'here in jupyter notebook you can print the string without any specific function'

In [11]:
# but while printing the statement in .py file you must use the print function

In [12]:
print("This is the function to print")

This is the function to print

if you observer carefully the print function did not return the quotes where as the way in which jupyter notebook was printing is by showing quotes.

# String Basics

In [13]:
len('hello world')

11

# String indexing

In [14]:
s = 'Hello World'

In [16]:
s

'Hello World'

In [17]:
s[0]

'H'

In [18]:
s[1]

'e'

In [19]:
s[2]

'l'

In [20]:
s[1:]

'ello World'

In [28]:
# The general format of sclicing is to [start index : end index(excluding) : step]

If either the starting or the ending index is not specified then it by defaults assumes the extreme ends.

In [23]:
# this is how string is reverse indexed
# the last element of string is denoted by -1
s[-1]

'd'

In [24]:
s[-2]

'l'

In [25]:
# and to completely print the reverse string
s[::-1]

'dlroW olleH'

In [29]:
# the following statement is equivalent of saying slice index from index 1 to 5 and display it in step of 2
s[1:5:2]

'el'

# Concatenate String

In [30]:
s + 'Join me with S'

'Hello WorldJoin me with S'

In [32]:
# such absurd syntax can also be used in python to get the repeated something.
'z' * 10

'Hello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello World'

# Built-In string methods

In [33]:
# print the string in upper
s.upper()

'HELLO WORLD'

In [35]:
# print the string in lower
upper_string = 'I WILL GET LOWERED NOW'
upper_string.lower()

'i will get lowered now'

In [37]:
upper_string

'I WILL GET LOWERED NOW'

Observe here that the upper_string is not changed, as the .uppper method returns a value and does not assign it back to the variable.

# String Formatting

## Formatting with placeholders

In [38]:
print("I'm going to inject %s here." %'something')

I'm going to inject something here.

multiple items also can be passed here.

In [39]:
print("I'm going to inject %s text here, and %s text here." %('some','more'))

I'm going to inject some text here, and more text here.

In [44]:
# this method can also be used to print variables
x = 'shubham'
y = 'pranil'

print("%s and %s are good friends" %(x , y))

shubham and pranil are good friends

your typical \n for new line and \t for tab also work with pythons print function

## Formatting with .format() method

In [46]:
p = "upar wale jaisa"
print("mai same kaam karta hu {}".format(p))

mai same kaam karta hu upar wale jaisa

In [59]:
pehela = 'CGPA'
dusra = 'barbad'

print('acha {0} lao nahi toh {1} hoge'.format(pehela , dusra))

acha CGPA lao nahi toh barbad hoge

## Formatting using F strings

In [60]:
name = 'Fred'

print(f"He said his name is {name}.")

He said his name is Fred.